*{
  margin: 0;
  
}
body{
  margin: 0;
}
#row1{
  height: 650px;
}
.img{
  width: 106px;
  height: 24px;
  display: block;
  margin: 0 auto;
}
#easy{
  position: relative;
  top: 150px;
  left: -20px;
  width: 600px;
}
#easy h1{
  font-size: 61px;
  font-weight: 600;
}
.lead{
  font-size: 25px;
  margin-left: 0px;
}
.pr{
  color:aliceblue;
  background-color: #141228;
  width: 300px; 
  height: 60px;
   border-radius: 40px; 
   margin-top: 85px;
}
.h3{
  margin-top: 25px;
}
.I{
  width: 556px;
   position: relative; 
  right: 100px; 
  height:720px;
  top: 0;
}
#hard{
  position: relative;
  top: 40px;
  right: -70px;
}

  

.container-fluid{
  position: relative;
  top: 0;
  margin-top: 10px;
    margin: 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
}
.container-fluid img{
  justify-content: space-around;
  margin: 0;
  width: 20px;
  height: 60px;

}

.h{
  position: relative;
  left: 150px;
  top: 100px;
}
.i{
  position: relative;
  left: 150px;
  top: 0px;
}
.j{
  position: relative;
  left: 150px;
  top: -55px;
}
.re{
  position: relative;
   left: 200px;
}
.re h4{
  width: 350px; 
  height: 25px; 
  font-size: 30px;
}
.re p{
  font-size: 21px; 
  width: 500px;
  position: relative;
 
}
.se{
  position: relative;
  top: -80px;
  left: 200px;
}
.se h4{
  width: 400px;
   height: 25px;
   font-size: 30px;
}
.se p{
  font-size: 21px;
}
.te{
  position: relative;
  top: -135px;
  left: 200px;
}
.te h4{
  width: 400px; 
  height: 25px; 
  font-size: 30px;
}
.te p{
  font-size: 21px;
}
.gro .img-fluid {
  width: 400px; height: 400px; position: relative; left: 120px;top: 35px;
}

#as{
  background-color: #5c5c78;
 
}
#new{
  margin-top: 90px;
}#new h1{
  font-size: 90px;
}
#ad{
  position: relative;
  top: 50px;
  left: -600px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.up{
  margin-top: 100px;
   margin-bottom: 0px;
}
#con3{
  position: relative;
  top: 0;
  left: 0;
}
#con3 img{
 position: relative;
left: 570px;
top: 0px; 
width: 144px;
height: 24px;
margin-top: 100px;
margin-bottom: 50px;
}
#con3 p{
  margin-bottom: 50px;
}
.row i{
  position: relative;
  top: 30px;
  font-size: 40px;
  color: black;
}
.money-back{
  background-color: #fff3ea; 
  
}
.money-back .rowmain .col1{
  position: relative;
  right: 80px;
  top: 0;
}
.col1 h4{
  width:340px;height: 50px;position: relative;top: -15px;left: 65px;
}
.money-back .rowmain .col2{
  position: relative;
   top: 70px;
   left:130px
}






@media (max-width: 370px){
  #row1{
    height: 200px;
  }
  .img{
    width: 106px;
    height: 24px;
    display: block;
    margin: 0 auto;
  }
  #easy{
    position: relative;
    top: 0px;
    left: 0px;
    width: 290px;
  }
  #easy h1{
    font-size: 25px;
    font-weight: 600;
    
    margin-left: 0px;
  }
  .lead{
    font-size: 10px;
    margin-left: 15px;
  }
   .pr{
    color:aliceblue;
    background-color: #141228;
    width: 140px; 
    height: 35px;
     border-radius: 40px; 
     margin-top: 10px;
  }
  .h3{
    margin-top: 3px;
  }
  .I{
    width: 310px;
    position: relative;
    right: 140px;
    height: 330px;
    top: -40px;
  }
  #hard{
    position: relative;
    top: 40px;
    right: -70px;
  }
  .kon{
    height: 150px;
     margin-top: 60px;
  }
  .container-fluid{
    position: relative;
  top: 380px;
    margin-top: 10px;
      margin: 0;
      background-color: #f9f9f9;
      display: flex;
      justify-content: center;
  }
  .container-fluid img{
    justify-content: space-around;
    margin: 0;
    width: 20px;
    height: 60px;
  
  }
  #cot{
  position: relative;
  top: 0;
  }
  .h{
    position: relative;
    left: 40px;
    top: 0;
  }
  .i{
    position: relative;
    left: 35px;
    top: 0px;
  }
  .j{
    position: relative;
    left: 35px;
    top: -55px;
  }
  .re{
    position: relative;
     left: 70px;
  }
  .re h4{
    width:330px;
     height: 25px; 
     font-size: 30px;
     position: relative;
     top: -70px;
     left: 0;
  }
  .re p{
    font-size: 21px; 
    width: 315px;
    position: relative;
    bottom: 25px;
  }
  .se{
    position: relative;
    top: -80px;
    left: 70px;
  }
  .se p{
    font-size: 13px;
  }
  .te{
    position: relative;
    top: -135px;
    left: 70px;
  }
  .te h4{
    width: 400px; 
    height: 25px; 
    font-size: 30px;
  }
  .te p{
    font-size: 11px;
  }
  .gro .img-fluid {
    width: 400px; height: 400px; position: relative; left: 120px;top: 35px;
  }
  #as{
    background-color: #5c5c78;
    
  }
  #new{
    margin-top: 90px;
  }#new h1{
    font-size: 90px;
  }
  #ad{
    position: relative;
    top: 50px;
    left: -600px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .up{
    margin-top: 450px;
     margin-bottom: 0px;
  }
  #con3{
    position: relative;
    top: 0;
    left: 0;
  }
  #con3 img{
   position: relative;
  left: 570px;
  top: 0px; 
  width: 144px;
  height: 24px;
  margin-top: 100px;
  margin-bottom: 50px;
  }
  #con3 p{
    margin-bottom: 50px;
  }
  .row i{
    position: relative;
    top: 140px;
    font-size: 40px;
    color: black;
  }
  .money-back{
    background-color: #fff3ea; 
    
  }
  .money-back .rowmain .col1{
    position: relative;
    left: 63px;
    top: -115px;
  }
  .col1 h4{
    width:340px;height: 50px;position: relative;top: 90px;left: 60px;
  }
  .money-back .rowmain .col2{
    position: relative;
     top: 0px;
     left:75px
  }
  .fkd{
    
  }
}

@media (min-width: 370px) and (max-width: 767px) {
}
@media (min-width: 767px) and (max-width: 991px) {
}
@media (min-width: 991px) and (max-width: 1200px) {
}
@media (min-width: 1200px) and (max-width: 1400px) {
}